{% extends "base.html" %}
{% block content %}
        <!-- Upload form. Note enctype attribute! -->
{% if user.is_authenticated %}
        <h1>Add Bulletin to Folder</h1>
    {{ form.errors }}
{{ form.non_field_errors }}
        <form action="addbul" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button id="add-another" type="button">Add another bulletin</button>
            <p><input type="submit" value="Submit" /></p>
        </form>
{% endif %}
{% endblock %}
