{% extends "base.html" %}

{% block content %}
<div class="col-md-10 col-md-offset-1">

    <h1>Bulletin Details</h1>
    {% if bulletin %}
        {% for b in bulletin %}
            <p>{{ type }}</p>
            <h2> {{ b.title }}</h2>
            <p> Author: {{ b.author }}</p>
            <p> Description: {{ b.text_description }}</p>
            <p> Coordinates: {{ b.lat }}, {{ b.long }}</p>
            <p> Created on: {{ b.date_created }}</p>
            <p> Modified on: {{ b.date_modified }}</p>
            <p> Bulletin ID: {{ b.b_key }}</p>
            <p> Encryption: {{ b.encrypted }}</p>

              <!-- List of uploaded documents -->
    {% if documents %}
        <h3>  Documents</h3>
        <ul>
        {% for document in documents %}
            <form action="/decrypt"method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <button name="document" value="{{document.docfile.url}}">{{ document.docfile.name }}</button>
            </form>
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}
        {% endfor %}
    {% else %}
        <p>No results found.</p>
    {% endif %}
</div>
{% endblock %}