<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

        <!-- Upload form. Note enctype attribute! -->
        <h1>Create a New Bulletin</h1>
        <form action="bulletin" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {{ doc_formset.management_form }}
            {{ doc_formset.as_table }}

            <button id="add-another">Add another document</button>
            <p><input type="submit" value="Submit" /></p>
        </form>

</body>
</html>