<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
<br>
<div class="col-md-10 col-md-offset-1">

<form method="POST" action="/decrypt" enctype="multipart/form-data">
    {% csrf_token %}
    <h4>In order to view {{ document }}, you must upload a private key (This will not be stored on the server!)</h4>
    <input type="file" name="private">
    <br>
    <button class="btn btn-default" name="document" value="{{ document }}">Submit</button>
</form>
</div>

{% else %}
	<h2> Please <a href="login">log in.</a> </h2>
{% endif %}


{% endblock %}