{% extends "base.html" %}

{% block content %}
{% load bootstrap %}

{% if user.is_authenticated %}
<div class="row">
    <div class="col-md-6 col-md-offset-1">

        <h2>Edit Folder</h2>
        {{ form.errors }}
        {{ form.non_field_errors }}
        &nbsp;

        <form role="form" id="edit_folder" method="post" action="f_edit" accept-charset=""
            enctype="multipart/form-data">

        {% csrf_token %}
        {{ form|bootstrap }}


        <button class="btn btn-primary" name="submit" value="{{ f_id }}">Submit</button>


        </form>

    </div>
</div>
<div class="row">
    <br>
    <br>
</div>

{% else %}
	<h2> Please <a href="login">log in.</a> </h2>
{% endif %}


{% endblock %}
