{% extends "base.html" %}
{%  load bootstrap %}
{% block content %}
        <!-- Upload form. Note enctype attribute! -->
{% if user.is_authenticated %}
<div class="row">
    <div class="col-md-6 col-md-offset-1">
        <h1>Create a New Folder</h1>
    {{ form.errors }}
{{ form.non_field_errors }}
        <form action="folder" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|bootstrap }}

            <label for="dropdownMenu1">Move Bulletins to this Folder:</label>
            {% if bulletins %}
                <select class="form-control" role="menu" name="test">
                    <option role="menuitem" tabindex="-1" value="0"></option>
            {% for bulletin in bulletins %}
                    <option role="menuitem" tabindex="-1" value="{{ bulletin.b_key }}">{{ bulletin.title }} </option></li>
            {% endfor %}
                </select>

                <br>
                <select class="form-control" role="menu" name="test1">
                    <option role="menuitem" tabindex="-1" value="0"></option>
            {% for bulletin in bulletins %}
                    <option role="menuitem" tabindex="-1" value="{{ bulletin.b_key }}">{{ bulletin.title }} </option></li>
            {% endfor %}
                </select>

                <br>
                <select class="form-control" role="menu" name="test2">
                    <option role="menuitem" tabindex="-1" value="0"></option>
            {% for bulletin in bulletins %}
                    <option role="menuitem" tabindex="-1" value="{{ bulletin.b_key }}">{{ bulletin.title }} </option></li>
            {% endfor %}
                </select>
                <br>
            {% else %}
                <p>No bulletins</p>
            {% endif %}
            <br><br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $('#add-another').click(function() {
        var form_idx = $('#id_form-TOTAL_FORMS').val();
        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });
    $('.dropdown-toggle').dropdown();
</script>
<div class="row">
    <br>
    <br>
</div>
{% endif %}
{% endblock %}
