{% extends "base.html" %}

{% block content %}
        <!-- Upload form. Note enctype attribute! -->
{% if user.is_authenticated %}
        <h1>Create a New Folder</h1>
    {{ form.errors }}
{{ form.non_field_errors }}
        <form action="folder" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {{ bul_formset.management_form }}
{#            {{ bul_formset.as_table }}#}

            <div id="form_set">
    {% for form in bul_formset.forms %}
        <table class='no_error'>
            {{ form.as_table }}
        </table>
    {% endfor %}
            </div>
            <div id="empty_form" style="display:none">
            <table class='no_error'>
                {{ bul_formset.empty_form.as_table }}
            </table>
            </div>
            <button id="add-another" type="button">Add another bulletin</button>
            <p><input type="submit" value="Submit" /></p>
        </form>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $('#add-another').click(function() {
        var form_idx = $('#id_form-TOTAL_FORMS').val();
        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });
</script>
{% endif %}
{% endblock %}
