{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
<div class="row">
    <div class="col-md-4 col-md-offset-1">

    <a href="profile" role="button" class="btn btn-primary">Go to Profile</a>
    <h1>Recent Posts</h1>


    {% if recent_bulletins %}

    <table class="table table-bordered table-striped">
        <tr>
            <th>Title</th>
            <th>Description</th>
              <th>Date Created</th>
        </tr>

        {% for bulletin in recent_bulletins %}
              <p>{{type}}</p>

        <tr>
            <td>
                <form action="bdisplay" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                 <button class="btn btn-link" name="button_id" value="{{ bulletin.b_key }}">{{bulletin.title}}</button>
                </form>
            </td>
            <td>
                {{bulletin.text_description}}
            </td>
             <td>
                {{bulletin.date_created}}
            </td>
        </tr>
        {% endfor %}

    </table>

    {% else %}
        <br>
        <p>No results found.</p>
    {% endif %}
    </div>

    <div class="col-md-4 col-md-offset-1">
     <h1>Most Viewed</h1>


    {% if most_viewed_bulletins %}

    <table class="table table-bordered table-striped">
        <tr>
            <th>Title</th>
            <th>Description</th>
              <th>Views</th>
        </tr>

        {% for bulletin in most_viewed_bulletins %}
              <p>{{type}}</p>

        <tr>
            <td>
                <form action="bdisplay" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                 <button class="btn btn-link" name="button_id" value="{{ bulletin.b_key }}">{{bulletin.title}}</button>
                </form>
            </td>
            <td>
                {{bulletin.text_description}}
            </td>
             <td>
                {{bulletin.num_views}}
            </td>
        </tr>
        {% endfor %}

    </table>

    {% else %}
        <br>
        <p>No results found.</p>
    {% endif %}
    </div>
    </div>
</div>

    {% else %}
	<h2> Please <a href="login">log in.</a> </h2>
{% endif %}
{% endblock %}
>