<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

<h1>Secure Witness System</h1>
{% if user.is_authenticated %}
<h2>Welcome {{ user.username }}</h2>
{% else %}
<h2> Log-in as an Administrator, Reader, or Author </h2>
<h4>All users must login before using the Secure Witness System.</h4>
<h4>Authors and Readers Login at the page below: </h4>
<a href="login">Login to the Secure Witness System</a><br>
<h4>Administrative users Login at the page below: </h4>
<a href="admin">Admin Login to the Secure Witness System</a><br>


{% endif %}

<br>
<br>
<br>
<h6>Don't have an account? Visit the page bekow to create a Secure Witness Account </h6>
<br>
<a href="register">Create an Account</a><br>
<br>
<br>
<a href="logout">Logout of your Account</a><br>
{% endblock %}
