<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

<h1>Secure Witness System</h1>
{% if user.is_authenticated %}
<h2>Welcome {{ user.username }}</h2>
{% else %}
<h2> Log-in as an Administrator, Reader, or Author </h2>
<section> 
<h6>To Log-in to the system, please enter your username and password in the fields below: </h6>

<form action="/login/" method="post">

 username: <input id="username" name="username" placeholder="Type username here">
 password: <input id="password" name="password" placeholder="Type password here">
  <input type="submit"> 
</form> 
</section> 
<h4>All users must login before using the Secure Witness System.</h4>
<h4>Login at the page below: </h4>
<a href="login">Login to the Secure Witness System</a><br>
{% endif %}

<br>
<br>
<br>
<h6>Don't have an account? Visit the page bekow to create a Secure Witness Account </h6>
<br>
<a href="register">Create an Account</a><br>
<br>
<br>
<a href="logout">Logout of your Account</a><br>
{% endblock %}
