{% extends "base.html" %}

{% block content %}

    <h1>Log Into Your Secure Witness Account</h1>

    <form id="login_form" method="post" action="/login/">

    <form id="login_form" method="post" actions="login">
        {% csrf_token %}
        Username: <input type="test" id="username" name="username" value="" size="50" />
        <br />
        Password: <input type="password" id="password" name="password" value="" size="50" />
        <br />

        <input type="submit" value="login" />
    </form>

{% endblock %}



