<!DOCTYPE html>
<html>
<head>
    <title>Secure Witness System</title>
</head>
<body>
    <h1>Log Into Your Secure Witness Account</h1>

    <form id="login_form" method="post" action="/user_login/">
        {% csrf_token %}
        Username: <input type="test" id="username" name="username" value="" size="50" />
        <br />
        Password: <input type="password" id="username" name="password" value="" size="50" />
        <br />

        <input type="submit" value="submit" />
    </form>

</body>
</html>
