<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% if completed %}
    <p> User has been emailed access for your documents</p>
{% else%}
    <p>Please select a user. WARNING: This will grant them access to all 'encrypted' bulletins.</p>
    <form action="permission" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        {{ form.errors }}
    {{ form.as_table }}
    <button>Submit</button>
    </form>
{% endif %}
</body>
</html>