<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

&nbsp;
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <a href="bulletin"><button type="button" class="btn btn-primary btn-lg">New Bulletin</button></a>
        <h3> Submitted Bulletins </h3>
        <table class="table table-bordered">
          <tr>
            <th>Date Created</th>
            <th>Date Modified</th>
            <th>Title</th>
            <th>Encrypted</th>
          </tr>
           {% if bulletins %}
           {% for bulletin in bulletins %}
              <tr>
                <td>{{ bulletin.date_created }}</td>
                <td>{{ bulletin.date_modified }}</td>
                <td>{{ bulletin.title }}</td>
                <td>{{ bulletin.encrypted }}</td>
              </tr>
           {% endfor %}
           {% else %}
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
           {% endif %}
        </table>
    </div>
</div>

{#<div class="row"> <div class="col-md-10 col-md-offset-1">#}
{#<h3> Read Bulletins </h3>#}
{#<table class="table table-bordered">#}
{#  <tr>#}
{#  	<th>Date Created</th>#}
{#  	<th>Date Modified</th>#}
{#  	<th>Title</th>#}
{#  	<th>Encrypted</th>#}
{#  </tr>#}
{#  <tr>#}
{#  	<td>{{ sprint1_bulletin.date_created }}</td>#}
{#  	<td>{{ sprint1_bulletin.date_modified }}</td>#}
{#  	<td>{{ sprint1_bulletin.title }}</td>#}
{#  	<td>{{ sprint1_bulletin.encrypted }}</td>#}
{#  </tr>#}
{#</table>#}
{#</div></div>#}

{% else %}
	<h2> Please <a href="login">log in.</a> </h2>
{% endif %}


{% endblock %}
