<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

&nbsp;
<div class="row">
    <div class="col-md-10 col-md-offset-1">

        <a href="bulletin"><button type="button" class="btn btn-primary btn-lg"><i class="fa fa-pencil-square-o"></i> Create</button></a>
        <br><br>
    </div>
</div>

<div class="row">

    <div class="col-md-6 col-md-offset-1">
        <h3> Submitted Skins &nbsp;<a href="permission"><button class="btn btn-gray">Grant Permission</button></a> </h3>
        <br>
        <table class="table table-bordered">
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Encrypted</th>
            <th>Delete</th>
            <th>Edit</th>
            <th>Copy</th>
          </tr>
           {% if bulletins %}
           {% for bulletin in bulletins %}
              <tr>
                <td>
                    <form action="bdisplay" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                     <button class="btn btn-link" name="button_id" value="{{ bulletin.b_key }}">{{bulletin.title}}</button>
                    </form>
                </td>
                <td>{{ bulletin.text_description }}</td>
                <td>{{ bulletin.encrypted }}</td>
                <td>
{#                    <div class="col-md-2">#}
                    <form action="profile" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        <button class="btn btn-danger btn-sm" name="delete" value="{{ bulletin.b_key }}"><i class="fa fa-minus-circle"></i></button>
                    </form>
{#                    </div>#}
                </td>
                <td>
{#                    <div class="col-md-2">#}
                    <form action="edit" method="get" enctype="multipart/form-data">
                    {% csrf_token %}
                        <button class="btn btn-info btn-sm" name="edit" value="{{ bulletin.b_key }}"><i class="fa fa-pencil"></i></button>
                    </form>
{#                    </div>#}
                </td>
                <td>
{#                    <div class="col-md-2">#}
                    <form action="copy" method="get" enctype="multipart/form-data">
                    {% csrf_token %}
                        <button class="btn btn-warning btn-sm" name="copy" value="{{ bulletin.b_key }}"><i class="fa fa-copy"></i></button>
                    </form>
{#                    </div>#}
                </td>
              </tr>
           {% endfor %}
           {% else %}
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
           {% endif %}
        </table>
    </div>
    <div class="col-md-3" id="foldercol">
        <h3>My Folders &nbsp;<a href="folder"><button class="btn btn-default"><i class="fa fa-plus"></i></button></a></h3>
        <br>
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th>Edit</th>
                <th>Copy</th>
                <th>Delete</th>
            </tr>
            {% if folders %}
            {%  for folder in folders %}
             <tr>
                <td>
                    <form action="viewfolder" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                     <button class="btn btn-link" name="f_id" value="{{ folder.f_key }}">{{folder.name}}</button>
                    </form>
                </td>
                <td>
                     <form action="f_edit" method="get" enctype="multipart/form-data">
                    {% csrf_token %}
                        <button class="btn btn-info btn-sm" name="f_edit" value="{{ folder.f_key }}"><i class="fa fa-pencil"></i></button>
                    </form>
                </td>
                <td>
                     <form action="f_copy" method="get" enctype="multipart/form-data">
                    {% csrf_token %}
                        <button class="btn btn-warning btn-sm" name="f_copy" value="{{ folder.f_key }}"><i class="fa fa-copy"></i></button>
                    </form>
                </td>
                <td>
                    <form action="deletefolder" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        <button class="btn btn-danger btn-sm" name="delete" value="{{ folder.f_key }}"><i class="fa fa-minus-circle"></i></button>
                    </form>
                </td>
             {% endfor %}
             {% else %}
             </tr>
             <tr>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
             </tr>
             {% endif %}
        </table>
    </div>
</div>


{% else %}
	<h2> Please <a href="login">log in.</a> </h2>
{% endif %}


{% endblock %}
